<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AstroPhoto.Catalog.LoaderUi.Properties.Settings.AstrophotoConnectionString"
            connectionString="Data Source=JZ-HP\DEVDB;Initial Catalog=Astrophoto;Persist Security Info=True;User ID=sa;Password=letmein"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>